{% extends "layout.html" %}

{% block body %}
<h5> Blog Sayfamıza Hoşgeldiniz sizde kendi blogunuzu oluşturmak istiyorsanız lütfen Giriş Yapın.. <h5>
<hr>

{% from "includes/formhelpers.html" import render_field %}

<form method=post>
  <div class="outer-box">
      {{ render_field(form.username)}}
      {{ render_field(form.password)}}
      <button type="submit" class="btn btn-success">Giriş Yap</button>
      <button id="btn-forgot">Şifremi unuttum!</button>

  </div>

</form>
{% endblock body %}

